build/*
cmake/*
.settings/*
.vs/*
.vscode/*
debug/*
core/Startup/*
*.txt
.cproject
.mxproject
.project
CMakePresets.json
STM32F411RETX_FLASH.ld
STM32F411RETX_RAM.ld
TT.ioc
TT.launch
vcpkg-configuration.json
